<!-- start custom footer snippets -->
Please consider donating to this not-for-profit student-run project. <br/> Any amount is highly appreciated and your name will appear on our sponsors & donors page.
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="26KXL5W6TKS7G">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<p style="margin-top:5px;font-size:0.5em">
Don't have PayPal?<br/>
IBAN: CH21 0900 0000 8907 2933 1<br/>
Octanis Association, 1004 Lausanne </p>

<!-- end custom footer snippets -->
